@import '@assets/styles/settings';

.container {
  height: $header-height;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  background-color: $main;
}

.inner {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  flex: 0.6;
  justify-content: center;
}

.title {
  text-align: center;
  color: $white;
}

.control {
  flex: 0.2;
}
